.row {
    display: flex;
    padding: 0 40px;
    >div {
        display: flex;
        align-items: center;
    }
    >div:nth-child(1) {
        margin-right: 40px;
        width: 165px;
    }
    >div:nth-child(2) {
        width: 312px;
    }
    >div:nth-child(3) {
        display: flex;
        align-items: center;
        margin-right: 70px;
        width: 273px;
        >span {
            font-size: 2.4rem;
            cursor: pointer;
        }
    }
    >div:nth-child(4) {
        align-items: center;
        cursor: pointer;
        white-space: nowrap;
    }
}
.top {
    padding-top: 35px;
    height: 95px;
    >div {
        color: #605e7c;
    }
    >div:nth-child(1) {
        cursor: pointer;
    }
}
.items {
    .item {
        margin-bottom: 10px;
        height: 60px;
        background: white;
        border-radius: 4px;
        &:hover {
            background: #E9E9E9;
        }
        .a-tag {
            color: #3c78ff;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
.page {
    display: flex;
    justify-content: flex-end;
}
.light-color {
    color: #5477B9;
}
.demand-progress {
    display: flex;
    align-items: center;
    height: 30px;
    cursor: pointer;
}
