@media screen and (min-height:900px) and (max-height:99999px){
  .login-h{
    height: 690px;
  }
}
@media screen and (min-height:700px) and (max-height:899px){
  .login-h{
    height: 572px;
  }
}
@media screen and (min-height:0px) and (max-height:699px){
  .login-h{
    height: 517px;
  }
}
.login-h{
  height: 467px;
  overflow-y: scroll;
}
.login-box{
  width: 350px;
  background-color: white;
  display: flex;
  flex-flow:column nowrap;
  justify-content: center;
  position: relative;
  padding: 0 25px;
}
.login-context{
  height: 375px;
}
.forget-pas{
  cursor: pointer;
  &:hover{
    color: #3a78ff;
  }
}
.login-mes{
  position: absolute;
  width: 300px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  >div:nth-child(1){
    border-bottom: 1px solid #605e7c;
    cursor: pointer;
    &:hover{
      border-bottom: 1px solid #3e38ff;
      color: #3e38ff;
    }
  }
}
.login-input{
  margin-top: 70px;
}
.login-title{
  font-size: 2.5rem;
  font-weight:bold;
  letter-spacing:1px;
}
.login-zs{
  font-size: 1rem;
  color: #cbcbcb;
  font-family: 'yw';
}
.input-margin{
  margin: 18px 0;
}
.login-itme{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 15px;
  >div{
    font-size: 1.4rem
  }
}
.login-btn{
    margin-top: 66px;
}
