.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    width: 780px;
    height: 60px;
    border-radius: 8px;
    background: white;
    box-sizing: border-box;
}
@media screen and(max-width: 1366px) {
    .top {
        width: 680px;
    }
}