/*计划方案*/
.mrs-scheme-con{
	border-radius: 10px;
	overflow: hidden;
	.title{
		background-color: #7c86ab;
		height: 36px;
		padding: 0 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #fefefe;
		>span{
			display: flex;
			align-items: center;
			cursor: default;
		}
		>a{
			display: flex;
			align-items: center;
			text-decoration: none;
			cursor: pointer;
			padding: 3px 16px;
			border-radius: 50px;
			background: #fefefe;
			color: #4f5d8e;
		}
	}

}

.capacity-detail{
	// display: none !important;
	height: 130px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	background-color: #4f5d8e;
	.flights{
		height: 60px;
		position: relative;
		padding-left: 10px; 
		display: flex;
		flex-direction: row;
		align-items: center;
		&:before{
			content: '';
			display: flex;
			position: absolute;
			width: 8px;
			height: 70%;
			left: 0;
			top: 15%;
			border: 1px solid  #ddd;
			border-right: none;

		}
		/*不含经停*/
		.less{
			width:100%;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			>div{
				color:#fefefe;
			}
		}	
		/*含有经停*/
		.multi{
			width: 100%;
			>div{
				height: 50%;
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				color: #fefefe;
				>div{
					height: 30px;
					line-height: 30px;
					text-align: center;
					color: inherit;
					&:nth-child(2n-1){
						width: 20%;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
					&:nth-child(2n){
						width: 20%;
					}
				}
			}
		}
	}
	.quoted{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		>div{
			flex:1;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			color: #eee;
			height: 50px;
			>span{
				color: #eee;
				font-size: 10px;
				letter-spacing: 1px;
			}
			>div{
				display: flex;
				flex-direction: row;
				color: inherit;
				>span{
					margin-right: 10px;
					>span{
						padding: 0 3px;
						font-size: 16px;
						color: #ffbe54;
					}
				}
			}
		}
	}
}