.contractBox {
  width: 610px;
  height: 100%;
  /*详情模块*/
  .detailBox {
    width: inherit;
    height: inherit;
    background: #ffffff;
    position: fixed;
    top: 66px;
    right: 0px;
    color: #605e7c;
    z-index: 222;
    .navRight {
      display: flex;
      margin-right: 20px;
    }
    .detailNav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 40px;
      box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.09);
      .detailNavName {
        margin-left: 44px;
      }
      .print {
        width: 70px;
        height: 24px;
        margin-left: 325px;
        position: relative;
        padding-left: 28px;
        :nth-child(1) {
          font-size: 2rem;
          position: absolute;
          left: 8px;
          top: -3px;
        }
      }
      .downLoad {
        width: 70px;
        height: 24px;
        margin-left: 14px;
        position: relative;
        padding-left: 28px;
        :nth-child(1) {
          font-size: 2rem;
          position: absolute;
          left: 8px;
          top: -3px;
        }
      }
      .detailNavBtn {
        width: 22px;
        height: 22px;
        border: solid 1px #ededed;
        border-radius: 12px;
        margin-left: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        .close-icon {
          color: #3c77ff;
          width: 22px;
          height: 22px;
          line-height: 22px;
          text-align: center;
          border: 1px solid #ededed;
          border-radius: 100%;
          cursor: pointer;
          &:hover {
            background: #3c78ff;
            color: white;
          }
        }
      }
    }
    .detailTitle {
      width: 243px;
      height: 76px;
      font-size: 2.7rem;
      margin-top: 35px;
      margin-left: 174px;
    }
    .owner {
      font-size: 1.3rem;
      margin-bottom: 16px;
      margin-left: 52px;
    }
    .span {
      text-decoration: underline;
    }
    .table {
      width: 569px;
      height: 127px;
      border: solid 1px #969696;
      margin-left: 14px;
      margin-bottom: 52px;
    }
    .signature {
      display: flex;
      justify-content: space-around;
      .signatureName {
        margin-bottom: 12px;
      }
    }
  }
}

.tableDirect{
  width: 569px;
  border: solid 1px #969696;
  margin-left: 14px;
  margin-bottom: 52px;
  .tableTop{
    height: 46px;
    display: flex;
    >div{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      border-bottom: solid 1px #969696;
    }
    .airType{
      width: 93px;
      border-right: solid 1px #969696;
    }
    .days{
      width: 55px;
    }
    .tableItem{
      width: 60px;
      border-left: solid 1px #969696;
    }
  }
  .tableBottom{
    height: 76px;
    display: flex;
    .underLine{
      border-top: solid 1px #969696;
    }
    >div{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      >div{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 38px;
        width: 100%;
      }
    }
    .airType{
      width: 93px;
      border-right: solid 1px #969696;
    }
    .days{
      width: 55px;
    }
    .tableDetail{
      width: 60px;
      border-left: solid 1px #969696;
    }
  }
}
.tableIndirect{
  width: 569px;
  border: solid 1px #969696;
  margin-left: 14px;
  margin-bottom: 52px;
  .tableTop{
    height: 46px;
    display: flex;
    >div{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      border-bottom: solid 1px #969696;
    }
    .airType{
      width: 93px;
      border-right: solid 1px #969696;
    }
    .days{
      width: 55px;
    }
    .tableItem{
      width: 105px;
      border-left: solid 1px #969696;
    }
  }
  .tableBottom{
    height: 76px;
    display: flex;
    .underLine{
      border-top: solid 1px #969696;
    }
    >div{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      >div{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 38px;
        width: 100%;
      }
    }
    .airType{
      width: 93px;
      border-right: solid 1px #969696;
    }
    .days{
      width: 55px;
    }
    .tableDetail{
      width: 105px;
      border-left: solid 1px #969696;
    }
  }
}
/*1366适配*/
@media screen and (max-width: 1366px) {
  .detailBox{
    overflow-y: scroll;
    top: 50px !important;
    padding-bottom: 100px;
  }
}
