/*绘制三角形模块*/
.content-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 31px;
    margin-left: 31px;
    background-color: transparent;
    :hover{
        cursor:pointer;
    };
}

.content-box:hover{
    cursor:pointer;
}

.demand-list-triangle{
    margin-left: 5px;
}

.demand-list-top-triangle0{
    width: 0;
    height: 0;
    margin-bottom: 2px;
    border-bottom: 5px solid #2c4e9d;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.demand-list-bottom-triangle0{
    width: 0;
    height: 0;
    border-top: 5px solid #949494;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.demand-list-top-triangle1{
    width: 0;
    height: 0;
    margin-bottom: 2px;
    border-bottom: 5px solid #949494;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.demand-list-bottom-triangle1 {
    width: 0;
    height: 0;
    border-top: 5px solid #2c4e9d;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}