/*公共样式--开始*/
@font-face {
    font-family: 'iconfont';  /* project id 413196 */
    src: url('//at.alicdn.com/t/font_413196_j6pd1mbjbeo.eot');
    src: url('//at.alicdn.com/t/font_413196_j6pd1mbjbeo.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_413196_j6pd1mbjbeo.woff') format('woff'),
    url('//at.alicdn.com/t/font_413196_j6pd1mbjbeo.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_413196_j6pd1mbjbeo.svg#iconfont') format('svg');
}

@font-face {
    font-family: 'wq';
    src: url('./../../static/font/wqydkwmh.ttf');
}
@font-face {
    font-family: 'yw';
    src: url('./../../static/font/poppins-light.otf');
    /*src: url('./../../static/font/Poppins-Medium.ttf');*/
    /*src: url('./../../static/font/poppins-Blod.ttf);*/
}
/*主要文字颜色，其他颜色自己覆盖掉*/
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #605e7c;
}
a:link{
    text-decoration:none;
}
a:visited{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
a:active{
    text-decoration:none;
}
html, body,#root{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 10px;
  font-family: 'wq';
}
#root{
    font-size: 1.2rem;
}

/*出去百度地图logo*/
.anchorBL{
    display: none;
}

.context{
    height: 100%;
    width: 100%;
    position: relative;
}
.router-context{
    background-color: white;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding-top: 65px;
    display: flex;
    flex-flow: column nowrap;
}

/*去掉a标签默认样式*/
a{
  text-decoration:none;
  color:#605E7C;
}
/*输入框laceholder 颜色*/
::-webkit-input-placeholder {
  color: rgba(96, 94, 124, .4);
}

::-moz-placeholder {
  color: rgba(96, 94, 124, .4);
}

:-ms-input-placeholder {
  color: rgba(96, 94, 124, .4);
}
/*图标字体*/
.iconfont{
  font-family: iconfont;
}

.popup, .popup-x1 {
    opacity: 1;
    background-color: #fff;
    box-shadow: 0 5px 11px rgba(85,85,85,.1);
}
/*屏蔽复制*/
.user-select{
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

/*滚动条样式  -start*/
::-webkit-scrollbar { /*滚动条整体部分，其中的属性有width,height,background,border等（就和一个块级元素一样）（位置1）*/
  width: 7px;
  height: 7px;
}

/*.scroll::-webkit-scrollbar-button{!*滚动条两端的按钮，可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果（位置2）*!*/
/*background:transparent;*/
/*}*/
::-webkit-scrollbar-track { /*外层轨道，可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果（位置3）*/
  background: transparent;
}

::-webkit-scrollbar-track-piece { /*内层轨道，滚动条中间部分（位置4）*/
  background: transparent;
}

::-webkit-scrollbar-thumb { /*滚动条里面可以拖动的那部分（位置5）*/
  background: rgba(216,216,216,.5);
  border-radius: 4px;
}

::-webkit-scrollbar-corner{ /*边角（位置6）*/
  background: #82AFFF;
}

::-webkit-scrollbar-resizer { /*定义右下角拖动块的样式（位置7）*/
  background: transparent;
}

*{
  scrollbar-arrow-color: #f4ae21; /**//*三角箭头的颜色*/
  scrollbar-face-color: #333; /**//*立体滚动条的颜色*/
  scrollbar-3dlight-color: #666; /**//*立体滚动条亮边的颜色*/
  scrollbar-highlight-color: #666; /**//*滚动条空白部分的颜色*/
  scrollbar-shadow-color: #999; /**//*立体滚动条阴影的颜色*/
  scrollbar-darkshadow-color: #666; /**//*立体滚动条强阴影的颜色*/
  scrollbar-track-color: #666; /**//*立体滚动条背景颜色*/
  scrollbar-base-color: #f8f8f8; /**//*滚动条的基本颜色*/
}

/*去除input标签type为number的箭头*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
input{
    -moz-appearance:textfield;
}

/*滚动条样式  -end*/


/*鼠标移入/点击样式*/
.btn-cancel:hover {
  background-color: rgba(96, 94, 124, .2);
}

.btn-cancel:active {
  background-color: rgba(96, 94, 124, .4);
}

/*蓝底按钮*/
.btn-b {
  color: white;
  background-color: #3c78ff;
  box-shadow: 1px 1px 18px rgba(60, 120, 255, .6);
}

.btn-b:hover {
  background-color: rgba(80, 139, 255, 1);
  color: white !important;
  cursor: pointer;
  box-shadow: 1px 2px 18px rgba(60, 120, 255, 0.7);
}

/*白底按钮*/
.btn-w {
  background-color: white;
  color: rgba(96, 94, 124, .6);
  box-shadow: 1px 1px 18px rgba(0, 0, 0, .13);
  cursor: pointer;
}

.btn-w:hover {
  background-color: rgba(60, 120, 255, .7) !important;
  color: white !important;
  cursor: pointer;
}

/*不可点击*/
.btn-disable {
  background: #CBCBCB;
  color: #AAAAAA;
  box-shadow: 1px 1px 18px rgba(0, 0, 0, .13);
}

/*清除浮动*/

.clear-both:after{
  display: table;
  content: " ";
  clear: both;
}

/* 下边框阴影 */
.box-show{
  box-shadow: 0 5px 11px rgba(85,85,85,.1);
}

/* 单选框 */
.radio{
}
.radio:before{
  content: '\e723';
  font-family: iconfont;
}
/*登录按钮-输入框样式*/
.may-btn{
    height: 50px;
    border-radius: 50px;
    background-color: #4466fb;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
    box-shadow: 1px 1px 18px rgba(60,120,255,.6);
}
.may-btn:hover{
    box-shadow: 1px 1px 18px rgba(60,120,255,1);
}
.may-btn:active{
    box-shadow: 1px 1px 18px rgba(60,120,255,0.5);
}
/*置灰按钮*/
.may-btn-gary{
    height: 50px;
    border-radius: 50px;
    background-color: rgba(204,204,204,1);
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
    box-shadow: 1px 1px 18px rgba(204,204,204,.6);
}
.may-btn-gary:hover{
    box-shadow: 1px 1px 18px rgba(204,204,204,1);
}
.may-btn-gary:active{
    box-shadow: 1px 1px 18px rgba(204,204,204,.6);
}
/***/
.may-input {
    height: 38px;
    border-radius: 19px;
    outline: none;
    color: #605e7c;
    display: block;
    width: 100%;
    letter-spacing: 0;
    background-color: transparent;
    border: 1px solid #e9e9e9;
    padding-left: 15px;
}
.may-input:focus{
    border: 1px solid rgba(60,120,255,.6);
}
.prompt{
    position:absolute;
    bottom:0;
    color:red;
    height: 0;
}
/* 百度地图样式 */
.map-point{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.map-demand-pao{
    width: 126px;
    height: 126px;
    border-radius: 50%;
    position: relative;
}
.map-demand-pao-mes{
    position: absolute;
    top: 0;
    left: 0;
    width: 126px;
    height: 126px;
    z-index: 10;
    pointer-events: none;
}
.map-demand-pao-mes-title{
    text-align: center;
    color: white;
    padding-top: 20px;
}
.map-demand-pao-mes-num{
    padding-top: 3px;
    color: #6681c4;
    font-size: 24px;
    font-weight: bold;
}
.map-demand-pao-mes-internationalNum{
    padding-top: 5px;
    color: #6681c4;
    font-size: 12px;
    font-weight: bold;
}
.map-demand-pao-mes-name{
    position: absolute;
    bottom: 0px;
    font-size: 14px;
    color: white;
    width: 126px;
    text-align: center;
    padding-bottom: 12px;
}
.map-demand-cutline-mes{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    z-index: 10;
    pointer-events: none;
}
.map-demand-cutline-mes-num{
    padding-top: 16px;
    color: white;
    font-size: 12px;
    text-align: center;
}
.map-demand-scale:hover{
    display: inline-block;
    transition: all .05s linear;
    transform: scale(1.2,1.2);
}
.map-demand-cutline{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.map-demand-cutline-label{
    width: 8px;
    height: 8px;
    background-color: #4a79f8;
    cursor: pointer;
    border-radius: 8px;
}
.map-demand-cutline-label:hover{
    transform: scale(1.2,1.2);
}
.BMapLabel:hover{
     z-index: 99999 !important;
 }