.content{
   position: relative;
   margin-top:95px;
   width: 1100px;
   .leftBox{
     width: 1100px;
     margin-bottom: 30px;
     background: #FFFFFF;
     .imgBox{
       position: relative;
       img{
         width: 1100px;
       }
       .showTitle{
         width: 210px;
         height: 250px;
         position: absolute;
         top: 0px;
         color: #ffffff;
         font-size: 2rem;
         display: flex;
         justify-content: center;
         align-items: center;
         background: rgba(113,107,107,0.5);
       }
     }
   }
 }
.timeTableBox{
  width: 1067px;
  margin: 30px auto 0px;
  .timeTableTitleBox{
    font-size: 1.6rem;
    display: flex;
    padding-bottom: 30px;
    justify-content: space-between;
    border-bottom: solid 1px rgba(150, 150, 150, 0.28);
    margin-bottom: 25px;
  }
}
.timeDistributeBox{
  width: 1067px;
  margin: 30px auto 0px;
}
.schedule>div{
  margin: 0 auto;
}

.schedule{
  width: 1050px;
  border: solid 1px rgba(207, 207, 207, 0.51);
  margin: auto;
}

.scheduleTitle{
  width: 1050px;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  padding-left: 20px;
  padding-right: 15px;
  border-bottom: solid 1px rgba(207, 207, 207, 0.51);
  button{
    background: #FFFFFF;
    width: 82px;
    height: 30px;
    font-size: 1.5rem;
    border-radius: 15px;
  }
}
/*时刻表模块*/
.refreshTime>div>div>div{
  margin: 0;
  >div{
    padding-left: 8px;
    font-size: 1.2rem;
  }
}

.refreshTime>div{
  margin-left: 17px;
  >div>span{
    top: 12px;
    right: 7px;
  }
}

.alarm{
  position: relative;
  padding-left: 32px;
  >span{
    position: absolute;
    left: 12px;
    top: -4px;
    font-size: 2rem;
  }
}

.scheduleTable{
  width: 1042px;
  display: flex;
  >div{
    width: 115px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    >div{
      margin: 0;
      width: 100%;
    }
  }
}
.scheduleTable1{
  width: 1042px;
  display: flex;
  background: #f5f5f5;
  div{
    width: 115px;
    height: 34px;
    text-align: center;
    line-height: 34px;
  }
}
.noShow{
  display: none;
}
.paginationStyle{
  width: 1050px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
}
/*时刻分布模块*/
.timeDistributeBox{
  width: 1067px;
  margin: 30px auto 0px;
  div{
    margin: 0 auto;
  }
  .timeDistributeTitle{
    font-size: 1.8rem;
    padding-bottom: 17px;
    border-bottom: solid 1px rgba(150, 150, 150, 0.28);
    margin-bottom: 25px;
  }
}
.contentBox{
  position: relative;
  display: flex;
}
.timeDistributeTable{
  width: 1050px;
  height: 459px;
  border: solid 1px rgba(207, 207, 207, 0.51);
  background: #fdfdfd;
  .timeDistributeTableTitle{
    border-bottom: solid 1px rgba(207, 207, 207, 0.51);
    >div{
      margin-left: 27px;
      margin-top: 9px;
      margin-bottom: 9px;
      font-size: 1.4rem;
      color: #34334b;
    }
  }
}
.timeList{
  display: flex;
  width: 1050px;
  >div{
    margin: 0;
    display: flex;
    text-align: center;
    height: 56px;
    align-items: center;
    justify-content: space-around;
  }
  .timeListStyle{
    width: 100px;
    border-left: 1px dashed RGBA(150,150,150,0.38);
  }
  .timeListLast{
    border-left: 1px dashed RGBA(150,150,150,0.38);
    width: 75px;
  }
  .timeList1{
    width: 75px;
  }
}
.rightBox{
  position: fixed;
  top: 180px;
  font-size:1.6rem;
  >div{
    right: 356px;
    top: 153px;
  }
  >div>div{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 42px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .timeTable{
    color: #fff;
    background-color: #3c78ff;
  }
  .timeDistribute{
    background: transparent;
    color: #605e7c;
  }
}
/*分布表单模块*/
.listItemStyle0{
  background:#f4f4f4;
  display: flex;
  width: 1050px;
  >div{
    margin: 0;
    display: flex;
    text-align: center;
    height: 50px;
    align-items: center;
    justify-content: space-around;
  }
  .listStyle{
    width: 100px;
    border-left: 1px dashed RGBA(150,150,150,0.38);
    >div {
      position: relative;
      >span:hover span{
        display: block;
      }
      >span>span{
        font-size:1.2rem;
        position: absolute;
        color: #3979ff;
        right: -16px;
        top: -7px;
      }
    }
  }
  .listStyleLast{
    border-left: 1px dashed RGBA(150,150,150,0.38);
    padding-left: 33px;
    position: relative;
    >span:hover span{
      display: block;
    }
    >span>span {
      position: absolute;
      font-size: 1.2rem;
      color: #3979ff;
      right: -12px;
      top: 7px;
    }
  }
  .listStyle1{
    width: 75px;
  }
}
.listItemStyle1{
  background: transparent;
  display: flex;
  width: 1050px;
  >div{
    margin: 0;
    display: flex;
    text-align: center;
    height: 50px;
    align-items: center;
    justify-content: space-around;
  }
  .listStyle{
    width: 100px;
    border-left: 1px dashed RGBA(150,150,150,0.38);
    >div {
      position: relative;
      >span:hover span{
        display: block;
      }
      >span>span{
        position: absolute;
        font-size: 1.2rem;
        color: #3979ff;
        right: -16px;
        top: -7px;
      }
    }
  }
  .listStyleLast{
    border-left: 1px dashed RGBA(150,150,150,0.38);
    padding-left: 33px;
    position: relative;
    >span:hover span{
      display: block;
    }
    >span>span{
      font-size: 1.2rem;
      position: absolute;
      color: #3979ff;
      right: -12px;
      top: 7px;
    }
  }
  .listStyle1{
    width: 75px;
  }
}

.hover{
  display: none;
}

/*加载模块*/
.spin{
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  //background: rgba(113, 107, 107, 0.1);
  position: fixed;
  //background: #4077fc;
  top: 300px;
  left: 860px;
  z-index: 20;
  >div>div{
    color: #4077fc;
  }
}
/*对话模块*/
.chat{
  position: fixed;
  bottom: 200px;
  right: 5px;
  span{
    font-size: 3rem;
  }
}
.chat:hover span{
  color: #4077fc;
}
.allBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  font-size: 1.2rem;
}
/*1366适配*/
@media screen and (max-width: 1366px) {
  .spin{
    left: 600px;
  }
  .rightBox{
    left: 1221.5px !important;
  }
}