/*.roleDemand{
    width: inherit;
    display: flex;
    flex:1;
    background: #ffffff;
}*/

.roleDemand {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    /*.demand-filter{
        display: flex;
        flex-direction: row;
        height: 40px;
        box-shadow: 0 0 5px #ddd;
        .filter-item{
            height: inherit;
            padding: 0 10px;
            user-select: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;
            &:nth-child(1){
                display: flex;
                flex-direction: row;
                flex:1;
                justify-content: flex-start;
                align-items: center;
                >span:nth-child(2){
                    display: flex;
                    flex-direction: column;
                    width: 30px;height:30px;
                    justify-content: center;
                    align-items: center;
                    >span{
                        width: inherit;height: 10px;
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 18px;
                    }
                    >span:first-child{
                        transform: rotate(180deg)
                    }
                }
            }
            &:nth-child(2){
                flex:1
            }
            &:nth-child(3){
                flex:2;
                cursor:default;
            }
            &:nth-child(4){
                flex:1;
            }
        }
    }*/
    .demand-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        .demand-list {
            flex: 1; // overflow: scroll;
            display: flex;
            flex-direction: column;
        }
    }
}

.roleDemand-loading {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.roleDemand-tip {
    display: block;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.demand-filtrate {
    height: 50px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    .filtrate-con {
        $fHeight: 28px;
        width: 80%;
        height: $fHeight;
        border: 1px solid #ddd;
        border-radius: $fHeight;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        >div {
            width: 50%;
            height: inherit;
            line-height: $fHeight;
            text-align: center;
            background: rgba(255, 255, 255, 1);
            color: #000;
            cursor: pointer;
            &:hover {
                background: rgba(255, 255, 255, 0.8);
            }
        }
        .active {
            background: rgba(117, 157, 253, 1);
            color: #fff;
            &:hover {
                background: rgba(117, 157, 253, 0.8);
            }
        }
    }
}

.roleDemand-body {
    flex: 1;
    overflow-y: auto;
    position: relative;
    .content {
        height: 100%; 
        width:100%; 
        position:absolute; 
        top:0;
        overflow-y:auto; 
    }
}