
.user-hd-select-span{
  margin-right: 9px;
}
.user-hd-select-list{
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  height: 16px;
  background-color: #a0a1a5;
  >div{
    width: 35px;
    height: 16px;
    border: 1px solid #acacac;
    cursor:pointer;
  }
}
.set-user-hd-select-list{
  background-color: #3a78ff;
}
.max-model-magic{
  width: 200px !important;
}
.model-magic{
  width: 105px;
  height: 56px;
  transform: translate(3px, 25px);
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  overflow: hidden;
  .model-magic-tag:before{
    content: '图标模式';
    position: absolute;
    top:30px;
    left: 35px;
  }
  .model-magic-pao:before{
    content: '气泡模式';
    position: absolute;
    top:30px;
    left: 35px;
  }
  >div{
    /*pointer-events: none;*/
    float: left;
    border-radius: 5px;
    overflow: hidden;
    width: 90px;
    height:50px;
    margin-right: 5px;
    position: relative;
    border: 1px solid transparent;
    cursor: pointer;
    &:hover{
      border: 1px solid #71c8ff;
    }
  }
}
.route-network {
  position: absolute;
  right: 0px;
  bottom: 40px;
  color: #605E7C;
  z-index:2;
  font-size: 1.3rem;
  >div{
    display: flex;
    justify-content:flex-end ;
    height: 30px;
    align-items: center;
  }
}
.iskg {
  display: inline-block;
  width: 27px;
  height: 16px;
  border-radius: 8px 8px 8px 8px;
  vertical-align: top;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  background-color:#605E7C;
  margin-left: 10px;
}
.iskg0 {
  background-color:#4077FC;
}
.turn-off {
  font-family: iconfont;
  font-size: 12px;
  color: white;
  position: relative;
  left: 3px;
  top: -2px;
  transition: left .15s linear;
}

.iskg0:before {
  content: 'ON';
  position: absolute;
  right: 0px;
  font-size: 12px;
  bottom: 0px;
  color: white;
  transform: scale(.7);
}

.iskg1:before {
  content: 'OFF';
  position: absolute;
  left: 0px;
  font-size: 12px;
  bottom: 0px;
  color: white;
  transform: scale(0.7);
}

.iskgCkecked {
  left: 16px;
}

.line-annotation{
  display: flex;
  >div{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-right: 10px;
    >div{
      width: 32px;
      height: 6px;
      margin-left: 5px;
    }
  }
}
