/*拟开航班未选时*/
.date-choose-button{
  background-color: white;
  color: #75747c;
  box-shadow: 1px 1px 18px rgba(0,0,0,.13)
}
/*拟开航班已选时*/
.data-choose{
  background-color: #3c77fc;
  box-shadow: 1px 2px 18px rgba(60,120,255,.7);
  color: white;
  border: 0;
}